.title {
	margin-top: 10px;
	letter-spacing: 0.05em;
	text-align: center;
}
.editor_wrapper {
	margin-top: 10px;
	margin-bottom: 50px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
	min-height: 80vh;
	height: 100%;
	border: solid 1px #2b2b2b;
	border-radius: 10px;
	text-align: left;
}