.main {
  margin: 50px;
  margin-left: 100px;
  text-align: left;
}

.delete_li {
  display: flex;
}

.delete_ul {
  margin-top: 30px;
}

.delete_button {
  margin-bottom: 20px;
}

.tag_add_form {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
}

.form_medium {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.form_medium_ele {
  margin-top: 20px;
  margin-right: 30px;
}

.form_bot_li {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.form_bot_ele {
  margin-right: 20px;
}

.gptRes {
  margin: 40px 0 0 0;
  text-align: left;
}

.gptRes p {
  text-align: left;
}

.generate_button {
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .main {
    margin: 20px;
    margin-left: 20px;
  }
  .form_medium_ele {
    width: 100%;
  }
  .form_bot_li {
    margin-top: 20px;
  }
  .form_bot_ele {
    width: 100%;
  }
}
